@font-face {
    font-family: 'Volte Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Volte Regular Italic'), url('../fonts/Volte Regular Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Volte Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Volte Regular'), url('../fonts/Volte.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Volte Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Volte Light Italic'), url('../fonts/Volte Light Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Volte Light';
    font-style: normal;
    font-weight: normal;
    src: local('Volte Light'), url('../fonts/Volte Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Volte Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Volte Medium Italic'), url('../fonts/Volte Medium Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Volte Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Volte Medium'), url('../fonts/Volte Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Volte Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Volte Semibold Italic'), url('../fonts/Volte Semibold Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Volte Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Volte Semibold'), url('../fonts/Volte Semibold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Volte Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Volte Bold Italic'), url('../fonts/Volte Bold Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Volte Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Volte Bold'), url('../fonts/Volte Bold.woff') format('woff');
    }

    @font-face {
        font-family: "Gilroy-Extrabold";
        src: url("../fonts/Gilroy-ExtraBold.ttf");
        font-style: normal;
        font-weight: 100;
    }
    
    @font-face {
        font-family: "Gilroy-Bold";
        src: url("../fonts/Gilroy-Bold.ttf");
        font-style: normal;
        font-weight: 100;
    }