@font-face {
  font-family: 'Volte Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Regular Italic"), url("../fonts/Volte Regular Italic.woff") format("woff");
}

@font-face {
  font-family: 'Volte Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Regular"), url("../fonts/Volte.woff") format("woff");
}

@font-face {
  font-family: 'Volte Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Light Italic"), url("../fonts/Volte Light Italic.woff") format("woff");
}

@font-face {
  font-family: 'Volte Light';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Light"), url("../fonts/Volte Light.woff") format("woff");
}

@font-face {
  font-family: 'Volte Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Medium Italic"), url("../fonts/Volte Medium Italic.woff") format("woff");
}

@font-face {
  font-family: 'Volte Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Medium"), url("../fonts/Volte Medium.woff") format("woff");
}

@font-face {
  font-family: 'Volte Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Semibold Italic"), url("../fonts/Volte Semibold Italic.woff") format("woff");
}

@font-face {
  font-family: 'Volte Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Semibold"), url("../fonts/Volte Semibold.woff") format("woff");
}

@font-face {
  font-family: 'Volte Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Bold Italic"), url("../fonts/Volte Bold Italic.woff") format("woff");
}

@font-face {
  font-family: 'Volte Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Bold"), url("../fonts/Volte Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Extrabold";
  src: url("../fonts/Gilroy-ExtraBold.ttf");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.ttf");
  font-style: normal;
  font-weight: 100;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: unset;
  padding: unset;
}

button {
  border: unset;
}

h4 {
  font-weight: 600;
}

body, button {
  font-family: "Volte";
}

.hero_text, .work_box-text-header {
  font-family: "Gilroy";
}

.left_cta {
  background-color: #555B6E;
}

.right_cta {
  background-color: #89B0AE;
}

.hero, .three, .about {
  width: 85%;
  margin: auto;
}

.container .hero {
  padding-top: 7em;
}

.container .hero_image {
  margin-bottom: 3em;
}

.container .hero_image-img {
  width: 100%;
  padding: .75em 0;
  border-top: 1px solid #89B0AE;
  border-bottom: 1px solid #89B0AE;
}

.container .hero_text {
  text-align: center;
}

.container .hero_text-header {
  font-size: 2em;
}

.container .hero_text-subhead {
  margin: 1em 0;
  font-size: 1.125em;
}

.container .hero_text-para {
  font-size: .9em;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.container .hero_cta-btn {
  color: white;
  display: block;
  width: 125px;
  padding: 1em 0;
  margin: .75em auto;
}

.container .three {
  margin-top: 10em;
}

.container .three_box {
  background-color: white;
  position: relative;
  height: 200px;
  width: 100%;
  margin: 5em auto;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.container .three_box-icon {
  width: 75px;
  height: 75px;
  background-color: #BEE3DB;
  position: absolute;
  top: -37.5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 30px rgba(190, 227, 219, 0.6);
          box-shadow: 0 0 30px rgba(190, 227, 219, 0.6);
}

.container .three_box-icon img {
  width: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .three_box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 55%;
  width: 70%;
}

.container .work {
  background-color: #BEE3DB;
  padding: 3em 0;
}

.container .work_box {
  width: 85%;
  margin: 1em auto;
}

.container .work_box-img {
  width: 100%;
  background-color: #F6F8F9;
  padding: 1.2em 0 1em 0;
}

.container .work_box-img img {
  width: 100%;
}

.container .work_box-mid {
  margin: 3em auto;
}

.container .work_box-text-contain {
  padding: 3em 2em;
}

.container .work_box-text-btn {
  background-color: #555B6E;
  padding: .75em 1.25em;
  cursor: pointer;
  color: white;
}

.container .work_box-text-subhead {
  color: #555B6E;
}

.container .about {
  margin-top: 3em;
  text-align: center;
  padding-bottom: 3em;
}

.container .about_img-img {
  padding: 0 .75em;
  border-right: 1px solid #89B0AE;
  border-left: 1px solid #89B0AE;
}

.container .about_text-para {
  line-height: 1.75em;
  margin: 1.25em 0 2em 0;
}

.container .about_text-thanks {
  font-weight: 600;
}

.footer {
  text-align: center;
  padding: 1em 0 3em 0;
}

.footer_divider {
  width: 85%;
  background-color: #ddd;
  margin: 1em auto 2em auto;
  height: 1px;
}

.footer_icon {
  display: inline-block;
  margin-right: .75em;
}

.footer_icon-left {
  margin-left: .75em;
  margin-right: unset;
}

.footer_text-designed {
  display: inline-block;
}

.footer_text-message {
  display: inline-block;
}

.footer_right {
  margin-top: 1.5em;
}

.divider {
  width: 101px;
  margin: 1em 0;
  background-color: #555B6E;
  height: 1px;
}

.bold {
  font-weight: 600;
}

#fullwork p {
  line-height: 1.75em;
}

#fullwork li {
  line-height: 1.75em;
}

#fullwork .hero {
  padding-top: unset;
  background-color: #F6F8F9;
  width: 100%;
}

#fullwork .hero_head-text {
  text-align: center;
  padding-top: 3em;
}

#fullwork .hero_head-header {
  font-size: 3em;
  font-weight: 600;
  padding-top: 1em;
}

#fullwork .hero_head-para {
  margin-top: -10px;
}

#fullwork .hero_image {
  margin: unset;
}

#fullwork .hero_image-img {
  border: unset;
  padding: unset;
}

#fullwork .hero_quote {
  color: white;
  text-align: center;
  font-family: "Lora";
  padding: 4em 2em;
  background-color: #30D6B3;
}

#fullwork .work {
  background-color: unset;
  padding: unset;
  padding: 4em 0;
}

#fullwork .work_full {
  width: 100%;
  background-color: #BEE3DB;
  padding: 4em 0;
}

#fullwork .work_full.conclusion {
  background-color: #555B6E;
  color: #FAF9F9;
  padding: 4em 0;
}

#fullwork .work_box {
  margin: auto;
}

#fullwork .work_box.pure_text {
  margin-top: 2em;
}

#fullwork .work_box-image-img {
  width: 100%;
  margin: 2em auto;
}

#fullwork .work_box-image-img.last {
  margin-bottom: unset;
}

#fullwork .work_box-text-contain {
  padding: unset;
}

#fullwork .work_box-text-header {
  margin: 0 0 .75em 0;
}

#fullwork .work_box-text-ordered {
  padding: 0 0 0 2em;
}

#fullwork .work_box-text-li {
  margin: 2em 0 0 0;
  padding-left: 1em;
}

@media only screen and (min-width: 500px) {
  #main_contain .hero {
    padding-top: 4em;
  }
  #main_contain .hero_cta {
    text-align: center;
  }
  #main_contain .hero_cta-btn {
    display: inline-block;
    margin: .75em .25em;
  }
  #main_contain .hero_image {
    width: 325px;
    margin: 3em auto;
  }
}

@media only screen and (min-width: 605px) {
  #fullwork .hero_quote-text {
    width: 526px;
    margin: auto;
  }
}

@media only screen and (min-width: 900px) {
  #main_contain .hero {
    width: 50%;
  }
  #main_contain .three_contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #main_contain .three_box {
    width: 30%;
  }
  #main_contain .work {
    margin-top: -10em;
  }
  #main_contain .work_contain {
    margin-top: 10em;
  }
  #main_contain .work_box {
    position: relative;
    background-color: white;
  }
  #main_contain .work_box-img {
    display: inline-block;
    width: 60%;
  }
  #main_contain .work_box-text {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    min-height: 100px;
  }
  #main_contain .work_box-text-subhead {
    margin-top: 1.5em;
  }
  #main_contain .work_box-text-contain {
    position: absolute;
    left: 80%;
    top: 50%;
    width: 30%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #main_contain .about {
    width: 40%;
  }
  .footer {
    padding-bottom: 2em;
  }
  .footer_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 85%;
    margin: auto;
  }
  .footer_left {
    display: inline-block;
  }
  .footer_right {
    display: inline-block;
    margin: unset;
  }
  #fullwork .work_box {
    width: 752px;
  }
}

@media only screen and (min-width: 1050px) {
  #main_contain .hero_text {
    width: 517.5px;
    margin: auto;
  }
  #main_contain .about_img-img {
    width: 414px;
  }
}
/*# sourceMappingURL=main.css.map */