@font-face {
  font-family: 'Volte Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Regular Italic"), url("../fonts/Volte Regular Italic.woff") format("woff");
}

@font-face {
  font-family: 'Volte Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Regular"), url("../fonts/Volte.woff") format("woff");
}

@font-face {
  font-family: 'Volte Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Light Italic"), url("../fonts/Volte Light Italic.woff") format("woff");
}

@font-face {
  font-family: 'Volte Light';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Light"), url("../fonts/Volte Light.woff") format("woff");
}

@font-face {
  font-family: 'Volte Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Medium Italic"), url("../fonts/Volte Medium Italic.woff") format("woff");
}

@font-face {
  font-family: 'Volte Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Medium"), url("../fonts/Volte Medium.woff") format("woff");
}

@font-face {
  font-family: 'Volte Semibold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Semibold Italic"), url("../fonts/Volte Semibold Italic.woff") format("woff");
}

@font-face {
  font-family: 'Volte Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Semibold"), url("../fonts/Volte Semibold.woff") format("woff");
}

@font-face {
  font-family: 'Volte Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Bold Italic"), url("../fonts/Volte Bold Italic.woff") format("woff");
}

@font-face {
  font-family: 'Volte Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Volte Bold"), url("../fonts/Volte Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Extrabold";
  src: url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'GilroyBlack';
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'GilroyRegular';
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'VolteRegular';
  src: url("../fonts/Volte.woff") format("woff");
}

@font-face {
  font-family: 'VolteSemiBold';
  src: url("../fonts/Volte Semibold.woff") format("woff");
}

@font-face {
  font-family: 'VolteMedium';
  src: url("../fonts/Volte Medium.woff") format("woff");
}

@font-face {
  font-family: 'Eina3Bold';
  src: url("../fonts/Eina03-Bold.ttf") format("truetype");
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: unset;
  padding: unset;
}

body:after {
  position: absolute;
  overflow: hidden;
  left: -50000px;
  content: url("../images/japan-pre.jpg") url("../images/japan-post.jpg") url("../images/profile-pre.jpg") url("../images/profile-post.jpg");
}

button {
  border: unset;
  cursor: pointer;
}

a {
  color: unset;
  text-decoration: none;
}

h4 {
  font-weight: 600;
}

body, button {
  font-family: "VolteRegular";
}

.hero_text {
  font-family: "GilroyRegular";
}

.hero_text-header, .work_box-text-header, .hero_head-header {
  font-family: "Eina3Bold";
}

.three_box-text-header, .about_text-thanks, .work_box-text-subhead, .bold {
  font-family: "VolteMedium";
}

.left_cta {
  background-color: #555B6E;
}

.right_cta {
  background-color: #89B0AE;
}

.hero, .three, .about {
  width: 85%;
  margin: auto;
}

.wasclicked_img {
  width: 100px;
  position: absolute;
  top: -65px;
  right: 28px;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.wasclicked_active {
  opacity: 1;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.plant {
  z-index: 200;
}

.nav {
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  padding: 1.5em 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  background-color: white;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 85%;
  margin: auto;
  position: relative;
}

.nav_list-li {
  margin: 0 1em;
  cursor: pointer;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.nav_list-li:hover {
  color: #89B0AE;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.nav_work {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right_nav {
  display: inline-block;
}

.list_li {
  margin-right: unset;
}

.other {
  width: 100%;
  text-align: center;
  margin: 3em 0 1em 0;
}

.other-header {
  color: #89B0AE;
  font-weight: 600;
  font-size: 1.5em;
}

.other-para {
  font-size: 1.25em;
  color: #555B6E;
  cursor: pointer;
  display: inline-block;
}

.views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: auto;
  margin-top: 2em;
}

.views a {
  text-decoration: none;
}

.views_left-top {
  font-size: .75em;
  color: #555B6E;
  font-family: "Gilroy-Bold";
  font-weight: bold;
}

.views_left-bot {
  color: #89B0AE;
}

.views_right {
  text-align: right;
}

.views_right-top {
  font-size: .75em;
  color: #555B6E;
  font-family: "Gilroy-Bold";
  font-weight: bold;
}

.views_right-bot {
  color: #89B0AE;
}

.image_hover {
  background-color: #555B6E;
  padding: 1em;
  color: #FAF9F9;
  position: absolute;
  bottom: 15%;
  right: -10%;
  font-size: .85em;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.image_hover-rel {
  padding: .75em 0;
  border-top: 1px solid #89B0AE;
  border-bottom: 1px solid #89B0AE;
  position: relative;
}

.image_hover-rel.israel {
  width: 75%;
  padding: 0 .75em;
  margin: auto;
  border-top: unset;
  border-bottom: unset;
  border-right: 1px solid #89B0AE;
  border-left: 1px solid #89B0AE;
}

.image_hover-rel:hover .image_hover {
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.image_hover-rel:hover .hero_image-img {
  background-image: url("../images/japan-post.jpg");
  background-size: cover;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.image_hover-rel:hover .about_img-img {
  background-image: url("../images/profile-post.jpg");
  background-size: cover;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.container .hero {
  padding-top: 7em;
}

.container .hero_image {
  margin-bottom: 3em;
}

.container .hero_image-img {
  display: block;
  width: 100%;
  padding: .75em 0;
  background-image: url("../images/japan-pre.jpg");
  background-size: cover;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.container .hero_text {
  text-align: center;
}

.container .hero_text-header {
  font-size: 2em;
}

.container .hero_text-subhead {
  margin: 1em 0;
  font-size: 1.125em;
}

.container .hero_text-para {
  font-size: .9em;
  line-height: 1.5em;
  margin-bottom: 2em;
}

.container .hero_cta-btn {
  color: white;
  display: block;
  width: 125px;
  padding: 1em 0;
  margin: .75em auto;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.container .hero_cta-btn:hover.left_cta {
  background-color: #2B3143;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.container .hero_cta-btn:hover.right_cta {
  background-color: #5C918E;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.container .three {
  margin-top: 10em;
}

.container .three_box {
  background-color: white;
  position: relative;
  height: 210px;
  width: 100%;
  margin: 5em auto;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.container .three_box-icon {
  width: 75px;
  height: 75px;
  background-color: #BEE3DB;
  position: absolute;
  top: -37.5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 30px rgba(190, 227, 219, 0.6);
          box-shadow: 0 0 30px rgba(190, 227, 219, 0.6);
}

.container .three_box-icon img {
  width: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .three_box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 55%;
  width: 70%;
}

.container .three_box-text-para {
  margin-top: 10px;
  line-height: 1.5em;
}

.container .work {
  background-color: #BEE3DB;
  padding: 3em 0;
}

.container .work_box {
  width: 85%;
  margin: 1em auto;
}

.container .work_box-img {
  width: 100%;
  background-color: #F6F8F9;
  padding: 1.2em 0 1em 0;
}

.container .work_box-img img {
  width: 100%;
}

.container .work_box-mid {
  margin: 3em auto;
}

.container .work_box-text-contain {
  padding: 3em 2em;
}

.container .work_box-text-btn {
  background-color: #555B6E;
  padding: .75em 1.25em;
  cursor: pointer;
  margin-top: 2em;
  color: white;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.container .work_box-text-btn:hover {
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  background-color: #89B0AE;
}

.container .work_box-text-header {
  font-family: "VolteSemiBold";
  font-size: 1.5em;
}

.container .work_box-text-subhead {
  color: #555B6E;
  margin-top: 1.5em;
  letter-spacing: -.04em;
}

.container .work_box-text-para {
  margin-top: .5em;
}

.container .about {
  margin-top: 3em;
  text-align: center;
  padding-bottom: 3em;
}

.container .about_img-img {
  display: block;
  width: 100%;
  margin: auto;
  padding: .75em 0;
  background-image: url("../images/profile-pre.jpg");
  background-size: cover;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.container .about_text-para {
  line-height: 1.75em;
  margin: 1.25em 0 2em 0;
}

.container .about_text-thanks {
  font-weight: 600;
}

#main_contain .work_box-text {
  background-color: white;
}

.myemail {
  text-decoration: none;
  color: #89B0AE;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.myemail:hover {
  color: #555B6E;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.footer {
  text-align: center;
  padding: 1em 0 3em 0;
  color: #555B6E;
}

.footer_divider {
  width: 85%;
  background-color: #ddd;
  margin: 1em auto 2em auto;
  height: 1px;
}

.footer_icon {
  display: inline-block;
  position: absolute;
  margin-right: .75em;
}

.footer_icon-left {
  margin-left: .5em;
  margin-right: unset;
  top: -3px;
}

.footer_icon-right {
  position: unset;
}

.footer_text-designed {
  display: inline-block;
}

.footer_text-message {
  display: inline-block;
}

.footer_left {
  position: relative;
}

.footer_right {
  margin-top: 1.5em;
  position: relative;
}

.divider {
  width: 101px;
  margin: 1em 0;
  background-color: #555B6E;
  height: 1px;
}

.bold {
  font-weight: 600;
}

#fullwork p {
  line-height: 1.75em;
}

#fullwork li {
  line-height: 1.75em;
}

#fullwork .hero {
  padding-top: unset;
  width: 100%;
}

#fullwork .hero_head-text {
  text-align: center;
  padding-top: 3em;
}

#fullwork .hero_head-header {
  font-size: 3em;
  font-weight: 600;
  padding-top: 1em;
}

#fullwork .hero_head-para {
  margin-top: -10px;
}

#fullwork .hero_image {
  margin: unset;
}

#fullwork .hero_image-img {
  background-image: unset;
  width: 60%;
  margin: auto;
  border: unset;
  padding: unset;
  margin: 2em auto;
}

#fullwork .hero_quote {
  color: white;
  text-align: center;
  font-family: "Lora";
  padding: 4em 2em;
  background-color: #30D6B3;
}

#fullwork .hero_quote.datadove_back {
  background-color: #11151A;
}

#fullwork .hero_quote.rugsusa_back {
  background-color: #333150;
}

#fullwork .work {
  background-color: unset;
  padding: unset;
  padding: 4em 0;
}

#fullwork .work_full {
  width: 100%;
  background-color: #BEE3DB;
  padding: 4em 0;
}

#fullwork .work_full.datadove_full {
  background-color: #1F272F;
  color: #FAF9F9;
}

#fullwork .work_full.rugsusa_full {
  background-color: #656384;
  color: #FAF9F9;
}

#fullwork .work_full.conclusion {
  background-color: #555B6E;
  color: #FAF9F9;
  padding: 4em 0;
}

#fullwork .work_box {
  margin: auto;
}

#fullwork .work_box.pure_text {
  margin-top: 2em;
}

#fullwork .work_box-image-img {
  width: 100%;
  margin: 2em auto;
}

#fullwork .work_box-image-img.last {
  margin-bottom: unset;
}

#fullwork .work_box-text-contain {
  padding: unset;
}

#fullwork .work_box-text-header {
  margin: 0 0 .75em 0;
}

#fullwork .work_box-text-ordered {
  padding: 0 0 0 2em;
}

#fullwork .work_box-text-li {
  margin: 2em 0 0 0;
  padding-left: 1em;
}

#fullwork .work_box-text-li.rugs {
  margin: unset;
}

#fullwork .work_box-text-li.first_li {
  margin-top: 1em;
}

.midtext {
  margin-top: 2em;
}

.current {
  font-weight: 100;
  font-family: "VolteRegular";
  font-size: .75em;
  font-style: italic;
  color: #555B6E;
}

.top_left-icon {
  width: 40px;
  position: absolute;
  left: 0;
  margin-left: 1em;
  top: -11px;
}

@media only screen and (min-width: 500px) {
  #main_contain .hero {
    padding-top: 4em;
  }
  #main_contain .hero_cta {
    text-align: center;
  }
  #main_contain .hero_cta-btn {
    display: inline-block;
    margin: .75em .25em;
  }
  #main_contain .hero_image {
    width: 325px;
    margin: 3em auto;
  }
  #main_contain .image_hover-rel.israel {
    width: 325px;
  }
}

@media only screen and (min-width: 605px) {
  #fullwork .hero_quote-text {
    width: 526px;
    margin: auto;
  }
}

@media only screen and (min-width: 900px) {
  .wasclicked_img {
    width: 100px;
    position: absolute;
    top: -65px;
    right: -73px;
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
  }
  .wasclicked_active {
    opacity: 1;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
  }
  #main_contain .hero {
    width: 50%;
  }
  #main_contain .three_contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #main_contain .three_box {
    width: 30%;
  }
  #main_contain .three_box-text-para {
    margin-top: 10px;
    font-size: .9em;
  }
  #main_contain .work {
    margin-top: -10em;
  }
  #main_contain .work_contain {
    margin-top: 10em;
  }
  #main_contain .work_box {
    position: relative;
    background-color: white;
  }
  #main_contain .work_box-img {
    display: inline-block;
    width: 60%;
  }
  #main_contain .work_box-text {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    min-height: 100px;
  }
  #main_contain .work_box-text-subhead {
    margin-top: 1.5em;
  }
  #main_contain .work_box-text-contain {
    position: absolute;
    left: 80%;
    top: 50%;
    width: 30%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #main_contain .about {
    width: 40%;
  }
  .footer {
    width: 752px;
    margin: auto;
    padding-bottom: 2em;
  }
  .footer_divider {
    width: 100%;
  }
  .footer_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin: auto;
    font-size: .9em;
  }
  .footer_left {
    display: inline-block;
  }
  .footer_right {
    display: inline-block;
    margin: unset;
  }
  .footer_icon {
    display: inline-block;
    position: absolute;
    margin-right: .75em;
  }
  .footer_icon-left {
    margin-left: .75em;
    margin-right: unset;
    top: -3px;
  }
  .footer_icon-right {
    left: -20px;
    top: 2px;
  }
  .footer_text-designed {
    display: inline-block;
  }
  .footer_text-message {
    display: inline-block;
  }
  .footer_left {
    position: relative;
  }
  .footer_right {
    position: relative;
  }
  #fullwork .hero_image img {
    width: 752px;
  }
  #fullwork .work_box {
    width: 752px;
  }
  .views {
    width: 752px;
  }
}

@media only screen and (min-width: 1050px) {
  #main_contain .hero_text {
    width: 517.5px;
    margin: auto;
  }
}

@media only screen and (min-width: 1260px) {
  #main_contain .three {
    width: 1058px;
  }
  #main_contain .work_box {
    width: 1058px;
  }
}

@media only screen and (min-width: 1400px) {
  #main_contain .about_text-para {
    width: 554px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=main.css.map */