@import "variables";
@import "mixins";
@import "fonts";

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: unset;
    padding: unset;
}

body:after {
    position: absolute; overflow: hidden; left: -50000px;
    content: 
        url("../images/japan-pre.jpg") 
        url("../images/japan-post.jpg")
        url("../images/profile-pre.jpg")
        url("../images/profile-post.jpg")
        ;
   }

button {
    border: unset;
    cursor: pointer;
}

a {
    color: unset;
    text-decoration: none;
}

h4 {
    font-weight: 600;
}

body, button {
    font-family: "VolteRegular";
}

.hero_text {
    font-family: "GilroyRegular";
}

.hero_text-header, .work_box-text-header, .hero_head-header {
    font-family: "Eina3Bold";
}

.three_box-text-header, .about_text-thanks, .work_box-text-subhead, .bold {
    font-family: "VolteMedium";
}

.left_cta {
    background-color: $darkpurp;
}

.right_cta {
    background-color: $darkgreen;
}

.hero, .three, .about {
    width: 85%;
    margin: auto;
}

.wasclicked {
    &_img {
        width: 100px;
        position: absolute;
        top: -65px;
        right: 28px;
        opacity: 0;
        transition: opacity .4s ease-in-out;
    }
    &_active {
        opacity: 1;
        transition: opacity .4s ease-in-out;
    }
}

.plant {
    z-index: 200;
}

.nav {
    transition: top 0.3s;
    padding: 1.5em 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background-color: white;
    &_list {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        width: 85%;
        margin: auto;
        position: relative;
        &-li {
            margin: 0 1em;
            cursor: pointer;
            transition: color .2s ease-in-out;
            &:hover {
                color: $darkgreen;
                transition: color .2s ease-in-out;
            }
        }

    }
}

.nav_work {
    justify-content: space-between;
}

.right_nav {
    display: inline-block;
}

.list_li {
    margin-right: unset;
}

.other {
    width: 100%;
    text-align: center;
    margin: 3em 0 1em 0;
    &-header {
        color: $darkgreen;
        font-weight: 600;
        font-size: 1.5em;
    }
    &-para {
        font-size: 1.25em;
        color: $darkpurp;
        cursor: pointer;
        display: inline-block;
    }
}

.views {
    display: flex;
    padding: 2em 0;
        justify-content: space-between;
        width: 85%;
        margin: auto;
        margin-top: 2em;
        & a {
            text-decoration: none;
        }
        &_left {
            &-top {
                font-size: .75em;
                color: $darkpurp;
                font-family: "Gilroy-Bold";
                font-weight: bold;
            }
            &-bot {
                color: $darkgreen;            
            }
        }
        &_right {
            text-align: right;
            &-top {
                font-size: .75em;
                color: $darkpurp;
                font-family: "Gilroy-Bold";
                font-weight: bold;
            }
            &-bot {
                color: $darkgreen;
            }
        }
}

.image_hover {
    background-color: $darkpurp;
    padding: 1em;
    color: $lightwhite;
    position: absolute;
    bottom: 15%;
    right: -10%;
    font-size: .85em;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    opacity: 0;
    transition: all .3s ease-in-out;

    &-rel {
        padding: .75em 0;
        border-top: 1px solid $darkgreen;
        border-bottom: 1px solid $darkgreen;
        position: relative;
        &.israel {
            width: 75%;
            padding: 0 .75em;
            margin: auto;
            border-top: unset;
            border-bottom: unset;
            border-right: 1px solid $darkgreen;
            border-left: 1px solid $darkgreen;
        }
        &:hover {
            & .image_hover {
                opacity: 1;
                transition: all .3s ease-in-out;
            }
            & .hero_image-img {
                background-image: url("../images/japan-post.jpg");
                background-size: cover;
                transition: all .3s ease-in-out;
            }
            & .about_img-img {
                background-image: url("../images/profile-post.jpg");
                background-size: cover;
                transition: all .3s ease-in-out;
            }
        }
    }
}

.container {
    & .hero {
        padding-top: 7em;
        &_image {
            margin-bottom: 3em;
            &-img {
                display: block;
                width: 100%;
                padding: .75em 0;
                // border-top: 1px solid $darkgreen;
                // border-bottom: 1px solid $darkgreen;
                background-image: url("../images/japan-pre.jpg");
                background-size: cover;
                transition: all .3s ease-in-out;
            }
        }
        &_text {
            text-align: center;
            &-header {
                font-size: 2em;
            }
            &-subhead {
                margin: 1em 0;
                font-size: 1.125em;
            }
            &-para {
                font-size: .9em;
                line-height: 1.5em;
                margin-bottom: 2em;
            }
        }
        &_cta {
            &-btn {
                color: white;
                display: block;
                width: 125px;
                padding: 1em 0;
                margin: .75em auto;
                transition: background-color .3s ease-in-out;
                &:hover {
                    &.left_cta {
                        background-color: #2B3143;
                        transition: background-color .3s ease-in-out;
                    }
                    &.right_cta {
                        background-color: #5C918E;
                        transition: background-color .3s ease-in-out;
                    }
                }

            }
        }
    }
    & .three {
        margin-top: 10em;
        &_box {
            background-color: white;
            position: relative;
            height: 210px;
            width: 100%;
            margin: 5em auto;
            box-shadow: 0 0 30px rgba(0, 0, 0, .05);
            &-icon {
                width: 75px;
                height: 75px;
                background-color: $lightgreen;
                position: absolute;
                top: -37.5px;
                left: 50%;
                transform: translateX(-50%);
                box-shadow: 0 0 30px rgba(190, 227, 219, .6);
                & img {
                    width: 55%;
                    @include fullCenter;
                }
            }
            &-text {
                @include fullCenter;
                top: 55%;
                width: 70%;
                &-para {
                    margin-top: 10px;
                    line-height: 1.5em;
                }
            }
        }
    }
    & .work {
        background-color: $lightgreen;
        padding: 3em 0;
        &_box {
            width: 85%;
            margin: 1em auto;
            &-img {
                width: 100%;
                background-color: $lightog;
                padding: 1.2em 0 1em 0;
                & img {
                    width: 100%;
                }
            }
            &-mid {
                margin: 3em auto;
            }
            &-text {
                &-contain {
                    padding: 3em 2em;
                }
                &-btn {
                    background-color: $darkpurp;
                    padding: .75em 1.25em;
                    cursor: pointer;
                    margin-top: 2em;
                    color: white;
                    transition: background-color .3s ease-in-out;
                    &:hover {
                        transition: background-color .3s ease-in-out;
                        background-color: $darkgreen;
                    }
                }
                &-header {
                    font-family: "VolteSemiBold";
                    font-size: 1.5em;
                }
                &-subhead {
                    color: $darkpurp;
                    margin-top: 1.5em;
                    letter-spacing: -.04em;
                }
                &-para {
                    margin-top: .5em;
                }
            }
        }
    }
    & .about {
        margin-top: 3em;
        text-align: center;
        padding-bottom: 3em;
        &_img {
            &-img {
                display: block;
                width: 100%;
                margin: auto;
                padding: .75em 0;
                // border-top: 1px solid $darkgreen;
                // border-bottom: 1px solid $darkgreen;
                background-image: url("../images/profile-pre.jpg");
                background-size: cover;
                transition: all .3s ease-in-out;
            }
        }
        &_text {
            &-para {
                line-height: 1.75em;
                margin: 1.25em 0 2em 0;
            }
            &-thanks {
                font-weight: 600;
                letter-spacing: -.025em;
            }
        }
    }
}

#main_contain {
    & .work {
        &_box {
            &-text {
                background-color: white;
            }
            transition: all .3s ease-in-out;
            &:hover {
                transition: all .3s ease-in-out;
                transform: scale(1.025);
                box-shadow: 0 0 30px rgba(0,0,0, .05);
            }
        }
    }
}

.myemail {
    text-decoration: none;
    color: $darkgreen;
    transition: all .2s ease-in-out;
    &:hover {
        color: $darkpurp;
        transition: all .2s ease-in-out;
    }
}

.footer {
    text-align: center;
    padding: 1em 0 3em 0;
    color: $darkpurp;
    &_divider {
        width: 85%;
        background-color: #ddd;
        margin: 1em auto 2em auto;
        height: 1px;
    }
    &_icon {
        display: inline-block;
        position: absolute;
        margin-right: .75em;
        &-left {
            margin-left: .5em;
            margin-right: unset;
            top: -3px;
        }
        &-right {
            position: unset;
        }
    }
    &_text {
        &-designed {
            display: inline-block;
        }
        &-message {
            display: inline-block;
        }
    }
    &_left {
        position: relative;
    }
    &_right {
        margin-top: 1.5em;
        position: relative;
    }
}

.divider {
    width: 101px;
    margin: 1em 0;
    background-color: $darkpurp;
    height: 1px;
}

.bold {
    font-weight: 600;
}

//HEALCO
#fullwork {
    & p {
        line-height: 1.75em;
    }
    & li {
        line-height: 1.75em;
    }
    & .hero {
        padding-top: unset;
        // background-color: $lightog;
        &_head {
            &-text {
                text-align: center;
                padding-top: 3em;
            }
            &-header {
                font-size: 3em;
                font-weight: 600;
                padding-top: 1em;
            }
            &-para {
                margin-top: -10px;
            }
        }
        &_image {
            margin: unset;
            &-img {
                background-image: unset;
                // box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
                width: 60%;
                margin: auto;
                border: unset;
                padding: unset;
                margin: 2em auto;
            }
        }
        width: 100%;
        &_quote {
            color: white;
            text-align: center;
            font-family: "Lora";
            padding: 4em 2em;
            background-color: $healco_green;
            &.datadove_back {
                background-color: #11151A;
            }
            &.rugsusa_back {
                background-color: $rugs_purp;
            }
        }
    }
    & .work {
        background-color: unset;
        padding: unset;
        padding: 4em 0;
        &_full {
            width: 100%;
            background-color: $lightgreen;
            padding: 4em 0;
            &.datadove_full {
                background-color: #1F272F;
                color: $lightwhite;
            }
            &.rugsusa_full {
                background-color: #656384;
                color: $lightwhite;
            }
            &.conclusion {
                background-color: $darkpurp;
                color: $lightwhite;
                padding: 4em 0;
            }
        }
        &_box {
            margin: auto;
            &.pure_text {
                margin-top: 2em;
            }
            &-image {
                &-img {
                    width: 100%;
                    margin: 2em auto;
                    &.last {
                        margin-bottom: unset;
                    }
                }
            }
            &-text {
                &-contain {
                    padding: unset;
                }
                &-header {
                    margin: 0 0 .75em 0;
                }
                &-ordered {
                    padding: 0 0 0 2em;
                }
                &-li {
                    margin: 2em 0 0 0;
                    padding-left: 1em;
                    &.rugs {
                        margin: unset;
                    }
                    &.first_li {
                        margin-top: 1em;
                    }
                }
            }
        }
    }
}

.midtext {
    margin-top: 2em;
}

.current {
    font-weight: 100;
    font-family: "VolteRegular";
    font-size: .75em;
    font-style: italic;
    color: $darkpurp;
}

.top_left-icon {
    width: 40px;
    position: absolute;
    left: 0;
    margin-left: 1em;
    top: -11px;
}

//MEDIA QUERIES

@media only screen and (min-width: 500px) {
    #main_contain {
        & .hero {
            padding-top: 4em;
            &_cta {
                text-align: center;
                &-btn {
                    display: inline-block;
                    margin: .75em .25em;
                }
            }
            &_image {
                width: 325px;
                margin: 3em auto;
            }
        }
        & .image_hover-rel.israel {
            width: 325px;
        }
    }
}

@media only screen and (min-width: 605px) {
    #fullwork {
        & .hero {
            &_quote {
                &-text {
                    width: 526px;
                    margin: auto;
                }
            }
        }
    }
}

@media only screen and (min-width: 900px) {
    .wasclicked {
        &_img {
            width: 100px;
            position: absolute;
            top: -65px;
            right: -73px;
            opacity: 0;
            transition: opacity .4s ease-in-out;
        }
        &_active {
            opacity: 1;
            transition: opacity .4s ease-in-out;
        }
    }
    #main_contain {
        & .hero {
            width: 50%;
        }
        & .three {
            &_contain {
                display: flex;
            }
            &_box {
                width: 30%;
                &-text {
                    &-para {
                        margin-top: 10px;
                        font-size: .9em;
                    }
                }
            }
        }
        & .work {
            margin-top: -10em;
            &_contain {
                margin-top: 10em;
            }
            &_box {
                position: relative;
                background-color: white;
                &-img {
                    display: inline-block;
                    width: 60%;
                }
                &-text {
                    display: inline-block;
                    width: 40%;
                    vertical-align: top;
                    min-height: 100px;
                    &-subhead {
                        margin-top: 1.5em;
                    }
                    &-contain {
                        position: absolute;
                        left: 80%;
                        top: 50%;
                        width: 30%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
        & .about {
            width: 40%;
        }
    }
    .footer {
        width: 752px;
        margin: auto;
        padding-bottom: 2em;
        &_divider {
            width: 100%;
        }
        &_text {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: auto;
            font-size: .9em;
        }
        &_left {
            display: inline-block;
        }
        &_right {
            display: inline-block;
            margin: unset;
        }
        &_icon {
            display: inline-block;
            position: absolute;
            margin-right: .75em;
            &-left {
                margin-left: .75em;
                margin-right: unset;
                top: -3px;
            }
            &-right {
                left: -20px;
                top: 2px;
            }
        }
        &_text {
            &-designed {
                display: inline-block;
            }
            &-message {
                display: inline-block;
            }
        }
        &_left {
            position: relative;
        }
        &_right {
            position: relative;
        }
    }
    #fullwork {
        & .hero {
            &_image {
                & img {
                    width: 752px;
                }
            }
        }
        & .work {
            &_box {
                width: 752px;
            }
        }
    }
    .views {
        width: 752px;
    }
}

@media only screen and (min-width: 1050px) {
    #main_contain {
        & .hero {
            &_text {
                width: 517.5px;
                margin:auto;
            }
        }
        & .about {
            &_img {
                &-img {
                    // width: 414px;
                }
            }
        }
    }

}

@media only screen and (min-width: 1260px) {
    #main_contain {
        & .three {
            width: 1058px;
        }
        & .work {
            &_box {
                width: 1058px;
            }
        }
    }
}

@media only screen and (min-width: 1400px) {
    #main_contain {
        & .about {
            &_text {
                &-para {
                    width: 554px;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}